{% extends 'layout.html' %}

{% block content %}

<!-- ATACANDO -->
<section class="py-2 text-center container">
    <div class="row py-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">ATACANDO</h1>
        </div>
    </div>
</section>

<!-- SITE A -->
<section class="py-5 container">
    <div class="row py-0">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Site A</h1>
        </div>
    </div>
</section>

<div class="album py-0 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">

            <!-- 1 -->
            <div class="col">
                <div class="card shadow-sm">
                    {% block imgAtacA1 %} {% endblock %}
                </div>
            </div>

        </div>
    </div>
</div>

<!-- SITE B -->
<section class="py-5 container">
    <div class="row py-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Site B</h1>
        </div>
    </div>
</section>

<div class="album py-0 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">

            <!-- 1 -->
            <div class="col">
                <div class="card shadow-sm">
                    {% block imgAtacB1 %} {% endblock %}
                </div>
            </div>

        </div>
    </div>
</div>

<!-- SITE C -->
<section class="py-5 container">
    <div class="row py-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Site C</h1>
        </div>
    </div>
</section>

<div class="album py-0 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">

            <!-- 1 -->
            <div class="col">
                <div class="card shadow-sm">
                    {% block imgAtacC1 %} {% endblock %}
                </div>
            </div>

        </div>
    </div>
</div>

<!-- DEFENDIENDO -->
<section class="py-2 text-center container">
    <div class="row py-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">DEFENDIENDO</h1>
        </div>
    </div>
</section>

<!-- SITE A -->
<section class="py-5 container">
    <div class="row py-0">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Site A</h1>
        </div>
    </div>
</section>

<div class="album py-0 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">

            <!-- 1 -->
            <div class="col">
                <div class="card shadow-sm">
                    {% block imgDefA1 %} {% endblock %}
                </div>
            </div>

        </div>
    </div>
</div>

<!-- SITE B -->
<section class="py-5 container">
    <div class="row py-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Site B</h1>
        </div>
    </div>
</section>

<div class="album py-0 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">

            <!-- 1 -->
            <div class="col">
                <div class="card shadow-sm">
                    {% block imgDefB1 %} {% endblock %}
                </div>
            </div>

        </div>
    </div>
</div>

<!-- SITE C -->
<section class="py-5 container">
    <div class="row py-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Site C</h1>
        </div>
    </div>
</section>

<div class="album py-0 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">

            <!-- 1 -->
            <div class="col">
                <div class="card shadow-sm">
                    {% block imgDefC1 %} {% endblock %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}