{% extends "layoutMapTresSite.html" %}

{% block imgAtacA1 %}
<img width="100%" src="../../../static/img/ascent/sova/ascentAtacA.PNG"></img>
{% endblock %}

{% block imgAtacB1 %}
<img width="100%" src="../../../static/img/ascent/sova/ascentAtacB.PNG"></img>
{% endblock %}

{% block imgAtacC1 %}
<img width="100%" src="../../../static/img/ascent/sova/ascentAtacB.PNG"></img>
{% endblock %}

{% block imgDefA1 %}
<img width="100%" src="../../../static/img/ascent/sova/ascentDefA.PNG"></img>
{% endblock %}

{% block imgDefB1 %}
<img width="100%" src="../../../static/img/ascent/sova/ascentDefB.PNG"></img>
{% endblock %}

{% block imgDefC1 %}
<img width="100%" src="../../../static/img/ascent/sova/ascentAtacB.PNG"></img>
{% endblock %}